@import '../../../vars.scss';

.contentBox{
    background: #dadada;
    height: 100%;
    border-bottom: solid 1px #ccc;
    font-size: 15px;
    .header{
        background: $headerBox;
        padding: 5px;
        color: #fff;
    }
    .description{
        padding: 5px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
    }
    .link{
        padding: 5px;
        a{
            color: $green;
        }
    }
}