@import '../../../vars.scss';

.contentBox{
    background: #fff;
    height: 100%;
    font-size: 15px;
    box-shadow: 0 0 1px #ccc;
    transition: all 0.5s ease;
    .header{
        background: $violet;
        padding: 10px;
        color: #fff;
        text-shadow: 1px 1px 1px #555;
    }
    .description{
        padding: 10px;
        min-height: 50px;
    }
    .link{
        padding: 10px;
        a{
            color: $blueDark;
            font-size: 12px;
            &:after{
                content: '>';
            }
        }
    }
    &:hover{
        box-shadow: 0 0 3px #444;
    }
}