.contentDeliveries{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    .box{
        width: calc((100% - 60px) / 3);
        margin: 10px;
    }
}